/* This is the syntax for a CSS comment. */

/* Typically you put all of your general element styles at the top. */

body {
	background-color: 
}

h1 {
	color: #111111;
}

h2 {

}

p {

}

img {

}


/* Container or module styles probably come next. */

header{
    text-align:center; 
}
          
figure{
    position:relative; 
          }
          
figure section {
    position: absolute; 
    top: 10%;
    left: 10%
          }

/* nav {
    position:relative;
}

nav section {
    Position:absolute;
    top: 2%
    left: 2%
} */

section {

}

footer {
    background-color:#686868;
    text-align:center;
}

footer section {
    text-align: center;
}

footer ul {
    list-style-type:none;
}

footer li{
    align-content: center;
    margin-right: 2%;
    display:inline;
    text-align:center
}

/* #email {
    text-align: center;
}

#social {
    text-align: center;
}  */
    


/* Class and ID styles come last because they are the most specific. */

#copyright {

}